<div class="container__small-card">

    <div class="container__small-card-content">

        <div class="small-card__photo">
            <img src="https://ca-times.brightspotcdn.com/dims4/default/446d46a/2147483647/strip/true/crop/3000x2000+0+0/resize/1200x800!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F74%2Fa6%2Fe87f0359453fb95ff85a286837e8%2Fla-et-marvel-is-doing-just-fine-for-now-but-even-its-fans-are-at-a-tipping-point.jpg "
             alt="" 
             srcset="">
        
            </div>
        
            <div class="small-card__title">
                <h1><a href="#">Saiu a nova versão do Angular</a></h1>
            </div>
    </div> 
    

    

    <div class="container__small-card__separator">
        <hr>
    </div>
</div>




